<h1 mat-dialog-title>Dodaj pasażera do lotu</h1>
<div mat-dialog-content>
    <form #f="ngForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Imię </mat-label>
            <input matInput [(ngModel)]="data.Name" name="name"  />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Nazwisko </mat-label>
            <!-- <input matInput [(ngModel)]="data.Surname" name="surname" required minlength="3" /> -->
        </mat-form-field>

        <div class="example-full-width" appearance="fill">
            <mat-form-field appearance="fill">
                <mat-label>Wybierz lot</mat-label>
                <mat-select [(ngModel)]="data.flight">
                    <option *ngFor="let flight of flights" [ngValue]="flight">{{ flight.id }}</option>
                </mat-select>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
            <button mat-button (click)="onNoClick()">Wyjdź</button>
        </div>
    </form>
</div>
