<h1 mat-dialog-title>Dodaj pasażera do lotu</h1>
<div mat-dialog-content class="mat-dialog-window">
  <form #f="ngForm" class= "dialog" [formGroup]="passForm">
    <small *ngIf="passForm.controls['phone'].hasError('required')" appMain color="red">Numer telefonu jest wymagany</small>
    <small *ngIf="passForm.controls['phone'].hasError('pattern')" appMain color="red">Numer telefonu musi byc liczba</small><br/>
      <mat-form-field class="example-full-width">
        <mat-label>Imię</mat-label>
        <input matInput name="name" formControlName="name"/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Nazwisko </mat-label>
          <input matInput name="surname" formControlName="surname"/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Numer telefonu</mat-label>
          <input matInput name="phone" formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="standard">
          <mat-label>Data urodzenia</mat-label>
          <input type="date" matInput placeholder="Placeholder" formControlName="date" />
          <mat-hint>Wybierz datę</mat-hint>
      </mat-form-field>

    </form>
    <div mat-dialog-actions>
      <button mat-raised-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="newPass" *ngIf="f.valid" cdkFocusInitial (click)="addPassenger()">Ok</button>
      <button mat-raised-button (click)="onNoClick()">Wyjdź</button>
  </div>
</div>
