html{
  font-family: 'Oswald', sans-serif;
}
.przyciski{
  padding-right: 5%;
  padding-left: 5%;
  width: 90%;
}

.przyciski_right button{
  margin-left: 10px;
}

.przyciski_left button{
  margin-right: 75%;
}
