<h1 mat-dialog-title>Edytuj lot</h1>

<div mat-dialog-content>
    <form #f="ngForm">
        <div class="example-full-width" appearance="fill">
            <mat-form-field appearance="fill">
                <mat-label>Wybierz lot</mat-label>
                <mat-select>
                    <mat-option value="one"></mat-option>

                </mat-select>
            </mat-form-field>
        </div>

        <div class="example-full-width" appearance="fill">
            <mat-form-field appearance="fill">
                <mat-label>Wybierz samolot</mat-label>
                <mat-select>
                    <mat-option value="one"></mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="example-full-width" appearance="fill">
            <mat-form-field appearance="fill">
                <mat-label>Pasażerowie</mat-label>
                <mat-select>
                    <mat-option value="one"></mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="example-full-width" appearance="fill">
            <mat-form-field appearance="fill">
                <mat-label>Piloci</mat-label>
                <mat-select>
                    <mat-option value="one"></mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <p>
            <mat-form-field appearance="standard">
                <mat-label>Data lotu</mat-label>
                <input type="date" matInput placeholder="Placeholder" />
                <mat-hint>Wybierz datę</mat-hint>
            </mat-form-field>
        </p>
        <div mat-dialog-actions>
            <button mat-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
            <button mat-button (click)="onNoClick()">Wyjdź</button>
        </div>
    </form>
</div>
