<h1 mat-dialog-title>Edytuj lot</h1>

<div mat-dialog-content class="dialog">
  <form #f="ngForm" [formGroup]="editflightForm">
    <small *ngIf="editflightForm.controls['id'].hasError('required')" appMain color="red">Numer lotu jest wymagany</small>
      <small *ngIf="editflightForm.controls['id'].hasError('pattern')" appMain color="red">Numer lotu musi byc liczba</small><br/>
    <mat-form-field class="example-full-width">
          <mat-label>Numer lotu </mat-label>
          <input matInput name="id" formControlName="id"   ngModel pattern required  />
      </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill" >
              <mat-label>Wybierz samolot</mat-label>
              <mat-select name="plane" formControlName="plane" >
                  <mat-option *ngFor="let plane of planes" [value]="plane">{{ plane.name }}</mat-option>
              </mat-select>
          </mat-form-field>


          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Pilot 1</mat-label>
              <mat-select name="pilot1" formControlName="pilot1">
                  <mat-option *ngFor="let pilot of pilots" [value]="pilot">{{ pilot.name }} {{ pilot.surname }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pilot 2</mat-label>
            <mat-select name="pilot2" formControlName="pilot2">
                <mat-option *ngFor="let pilot of pilots" [value]="pilot">{{ pilot.name }} {{ pilot.surname }}</mat-option>
            </mat-select>
        </mat-form-field>

          <mat-form-field appearance="standard">
              <mat-label>Wybierz datę lotu</mat-label>
              <input type="date" matInput placeholder="Placeholder" formControlName="date"/>
              <mat-hint>Wybierz datę</mat-hint>
          </mat-form-field>

      <div mat-dialog-actions>
          <button mat-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
          <button mat-raised-button color="primary" [mat-dialog-close]="editData" *ngIf="f.valid" cdkFocusInitial (click)="editflight()">Ok</button>
          <button mat-button (click)="onNoClick()">Wyjdź</button>
          <!-- <button (click)="change()">a</button> -->
      </div>
  </form>
</div>
