<h1 mat-dialog-title>Dodaj nowy lot</h1>
<div mat-dialog-content class="mat-dialog-window">
  <form #f="ngForm" class= "dialog" [formGroup]="planeForm">
    <mat-form-field class="example-full-width">
      <mat-label>Numer samolotu </mat-label>
      <input matInput name="id" formControlName="id"/>
  </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Nazwa samolotu</mat-label>
        <input matInput name="name" formControlName="name"/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Pojemność </mat-label>
          <input matInput name="pojemnosc" formControlName="pojemnosc"/>
      </mat-form-field>

    </form>
    <div mat-dialog-actions>
      <button mat-raised-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="newPlane" *ngIf="f.valid" cdkFocusInitial (click)="addPlane()">Ok</button>
      <button mat-raised-button (click)="onNoClick()">Wyjdź</button>
  </div>
</div>


