<p [ngClass]="'title'">Lista samolotów</p>

<table class="table">
  <thead>
    <tr>
      <th>
        <span class="theader">Id</span>
      </th>
      <th>
        <span class="theader">Nazwa</span>
      </th>
      <th>
        <span class="theader">Pojemność</span>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let plane of planes" [class.selected]="plane===selectedPlane">
      <td (mousedown)="onSelect(plane)"><span class="tbody">{{plane.id}}</span></td>
      <td (mousedown)="onSelect(plane)"><span>{{plane.name}}</span></td>
      <td (mousedown)="onSelect(plane)"><span>{{plane.capacity}}</span></td>
  </tr>
</tbody>
</table>
<div *ngIf="this.auth.IsLogged()" class="przyciski">
  <button mat-raised-button color="primary" (click)="openDialog(true, false)" >Dodaj pasazera</button>
  <div *ngIf="selectedPlane!=null && this.auth.IsAdmin()" >
    <button mat-raised-button color="primary" (click)="openDialog(false, true)">Edytuj Pasazera</button>
  </div>
  <button mat-raised-button color="primary" (click)="deletePlane()">Usuń samolot</button>
</div>

