<h1 mat-dialog-title>Zaloguj się</h1>
<div mat-dialog-content class="mat-dialog-window">
    <form #f="ngForm" [formGroup]="employeeForm">
        <mat-form-field class="example-full-width">
            <mat-label>Login</mat-label>
            <input matInput name="username" formControlName="username" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Hasło</mat-label>
            <input matInput name="password" formControlName="password" />
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button mat-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
        <button mat-button [mat-dialog-close]="newlogin" *ngIf="f.valid" cdkFocusInitial>
      Zaloguj
    </button>
        <button mat-button (click)="onNoClick()">Wyjdź</button>
    </div>
</div>