<h1 ngClass="title">Zaloguj się</h1>
    <form #f="ngForm" [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="container">
        <mat-form-field class="example-full-width">
            <mat-label>Login</mat-label>
            <input matInput name="username" formControlName="username" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" placeholder="Password"  formControlName="password" />
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
    </div>
  </form>

