.icon {
  /* flex: 1 1 auto; */
  /* width: 5%; */
  margin: 20px;
}

.title{
  margin: 10px;
  color: white;
  font-weight: bold;
}
.login{
  /* margin: 60%; */
  flex: 1 1 auto;

}
.toolbar_main{
  width: 100%;
  font-family: 'Oswald', sans-serif;
}
.toolbar_main_left{
  margin-right: 30%;
}
.toolbar_main_right{
  margin-left: 35%;
}

.footer{
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  padding-left: 33%;
}

