.icon {
  /* flex: 1 1 auto; */
  /* width: 5%; */
  margin: 20px;
}
/* .example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
} */
/* a{
  margin: 0 auto;
} */
.title{
  margin: 10px;
  color: white;
  font-weight: bold;
}
div.login{
  /* margin: 60%; */
  flex: 1 1 auto;

}


