
<p [ngClass]="'title'">Lista Pasażerów lotu</p>
<table class="table" >
  <thead>
    <tr>
      <th>
        <span class="theader">Id</span>
      </th>
      <th>
        <span class="theader">Imie</span>
      </th>
      <th>
        <span class="theader">Nazwisko</span>
      </th>
      <th>
        <span class="theader">Numer Tel</span>
      </th>
      <th>
        <span class="theader">Data Urodzenia</span>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let passenger of flight.passengers" [class.selected]="passenger===selectedPassenger" >
      <td (mousedown)="onSelect(passenger)"><span class="tbody">{{passenger.id}}</span></td>
      <td (mousedown)="onSelect(passenger)"><span>{{passenger.name}}</span></td>
      <td (mousedown)="onSelect(passenger)"><span>{{passenger.surname}}</span></td>
      <td (mousedown)="onSelect(passenger)"><span>{{passenger.phone_nr}}</span></td>
      <td (mousedown)="onSelect(passenger)"><span>{{passenger.birthday}}</span></td>
  </tr>
  </tbody>
</table>
<div *ngIf="this.auth.IsLogged()" class="przyciski">
  <button mat-raised-button color="primary" (click)="openDialog(true, false)" >Dodaj pasazera</button>
  <div *ngIf="selectedPassenger!=null && this.auth.IsAdmin()" >
    <button mat-raised-button color="primary" (click)="openDialog(false, true)">Edytuj Pasazera</button>
  </div>
</div>

